<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mascotas Encontradas - BuscaMascotas</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

</head>

<body>

    <div class="main-container">
        <div id="contenido">
            <div class="container my-4">
                <h2 class="text-center">Mascotas Encontradas</h2>

                <table class="table table-bordered table-hover mt-4">
                    <thead class="thead">
                        <tr>
                            <th>Especie</th>
                            <th>Raza</th>
                            <th>Tamaño</th>
                            <th>Color 1</th>
                            <th>Color 2</th>
                            <th>Color 3</th>
                            <th>Descripción</th>
                            <th>Ubicacion</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- Filas generadas dinámicamente con JavaScript -->
                    </tbody>
                </table>

                <div class="text-center mt-4">
                    <button class="btn btn-primary" onclick="mostrarModalEncontrada()">Agregar Mascota</button>
                </div>
            </div>
        </div>

        <div class="modal fade" id="modalMascotaEncontrada" tabindex="-1" aria-labelledby="modalMascotaLabel"
            aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modalMascotaLabel">Reportar Mascota Encontrada</h5>
                        <button type="button" class="btn-close" onclick="cerrarModalEncontrada()"
                            aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form id="form-mascota">
                            <div class="row">

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="especie">Especie</label>
                                        <select class="form-control" id="especie" required>
                                            <option value="" disabled selected>Seleccione Especie</option>
                                            <option value="Perro">Perro</option>
                                            <option value="Gato">Gato</option>
                                            <option value="Otro">Otro</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="raza">Raza</label>
                                        <select class="form-control" id="raza" required>
                                            <option value="" disabled selected>Seleccione Raza</option>
                                            <option value="Labrador">Labrador</option>
                                            <option value="Bulldog">Bulldog</option>
                                            <option value="Quiltro">Quiltro</option>
                                            <option value="Husky">Husky</option>
                                            <option value="Husky">Golden Retriever</option>
                                            <option value="Otro">Otro</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="tamano">Tamaño</label>
                                        <select class="form-control" id="tamano" required>
                                            <option value="" disabled selected>Seleccione Tamaño</option>
                                            <option value="Pequeño">Pequeño</option>
                                            <option value="Mediano">Mediano</option>
                                            <option value="Grande">Grande</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="color1">Color 1</label>
                                        <select class="form-control" id="color1" required>
                                            <option value="" disabled selected>Seleccione Color</option>
                                            <option value="Ninguno">Ninguno</option>
                                            <option value="Negro">Negro</option>
                                            <option value="Gris">Gris</option>
                                            <option value="Blanco">Blanco</option>
                                            <option value="Cafe">Café</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="color2">Color 2</label>
                                        <select class="form-control" id="color2">
                                            <option value="" disabled selected>Seleccione Color</option>
                                           
                                            <option value="Ninguno">Ninguno</option>
                                            <option value="Negro">Negro</option>
                                            <option value="Gris">Gris</option>
                                            <option value="Blanco">Blanco</option>
                                            <option value="Cafe">Café</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="color3">Color 3</label>
                                        <select class="form-control" id="color3">
                                            <option value="" disabled selected>Seleccione Color</option>
                                            <option value="Ninguno">Ninguno</option>
                                        <option value="Negro">Negro</option>
                                        <option value="Gris">Gris</option>
                                        <option value="Blanco">Blanco</option>
                                        <option value="Cafe">Café</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="descripcion">Descripción</label>
                                <textarea class="form-control" id="descripcion" rows="3"></textarea>
                            </div>
                            <div class="form-group">
                                <label for="ubicacion">Ubicacion</label>
                                <textarea class="form-control" id="ubicacion" rows="3"></textarea>
                            </div>

                            <button type="button" class="btn btn-success mt-3"
                                onclick="window.guardarMascotaEncontrada()">Guardar</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>


</body>

</html>